@import url('https://fonts.googleapis.com/css?family=Merriweather:300,700');

.App {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  text-align: center;
  vertical-align: middle;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  border: 5px solid #333333;
}

::placeholder {
  font-family: 'Merriweather', serif;
  font-size: 0.75em;
}

.side-bar {
  width: 25%;
  height: 100%;
  overflow-y: scroll;
}

#search {
  width: 90%;
  padding: 30px 10px;
  /* border-radius: 10px; */
  border: 2px solid #000000;
  margin: 1em 0.5em;
  height: 2rem;
  font-size: 1em;
}

#search:focus {
  outline: none;
  border: 2px solid #000000;
  box-shadow: 0 0 5px 1px #333333;
}

.taco-header {
  margin-top: 0;
  padding: 0.5em;
  color: #dddddd;
  background: linear-gradient(to right, #333333, #000000, #333333);
  box-shadow: 0 2px 15px 5px #555555;
}

.venue-list {
  padding: 0.25em 1em 1em 1em;
  margin: 0;
  height: auto;
}

.list-item {
  list-style: none;
  font-size: 1rem;
  padding: 0.5rem;
  margin-top: 1rem;
  /* box-shadow: 0 0 1px 1px #000000; */
  border: 2px solid #000000;
  cursor: pointer;
  background: #333333;
  color: #dddddd;
}

.list-item:hover {
  box-shadow: 0 0 10px 3px #333333;
}

.list-item img {
  vertical-align: middle;
}

footer {
  position: relative;
  bottom: 0;
  padding: 0.25em;
  font-size: 0.75em;
  background: linear-gradient(to right, #333333, #000000, #333333);
  color: #dddddd;
}

